{% extends 'base.html' %} {% block contents %}

<body class="container-fluid wrapper">
    {% verbatim %}
    <div class="row full">
        <div id="vueapp" class="col-5 full">
            <div class="row full">
                <div id="left" class="col-7 full">
                    <p>Left</p>
                    <div>
                        <div class="input-group">
                            <input type="text" class="form-control" v-model="input_filepath" placeholder="File Path">
                            <input type="text" class="form-control" v-model="input_date" placeholder="Date">
                            <input type="text" class="form-control" v-model="input_location" placeholder="Location">
                            <input type="text" class="form-control" v-model="input_memo" placeholder="Memo">
                            <input type="text" class="form-control" v-model="input_range" placeholder="Range">
                        </div>
                        <button type="button" class="btn btn-primary btn-lg btn-block" v-on:click="addVideo">Add Video</button>
                        <div v-for="video in videos" class="card">
                            <div class="card-header">
                                {{video.filepath}} {{video.range}}
                            </div>
                            <img class="card-header" />
                            <div class="card-block">
                                <h4 class="card-title">
                                    {{video.date}}
                                </h4>
                                <h4 class="card-title">
                                    {{video.location}}
                                </h4>
                                <p class="card-text">
                                    {{video.memo}}
                                </p>
                            </div>
                        </div>

                        <a href="{% url 'upload_path' %}">Uplaod path</a>
                        <a href="{% url 'load' %}">Load project</a>
                    </div>
                </div>
                <div id="middle" class="col-5 full">
                    <!-- Map Candidates -->
                    <div v-for="location in locations" class="card">
                        <div class="card-header">
                            {{location.place_name}}
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">
                                {{location.road_address_name}} {{location.address_name}}
                            </h4>
                            <p cextlass="card-text">
                                {{location.x}}
                            </p>
                            <p class="card-text">
                                {{location.y}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="right" class="col-7 full">
            <!-- Map -->
        </div>
    </div>
    {% endverbatim %}

    <script>
        var map = new daum.maps.Map(
            document.getElementById('right'), {
                center: new daum.maps.LatLng(33.450701, 126.570667),
                level: 3,
            },
        );
        var ps = new daum.maps.services.Places();

        class Video {
            constructor(filepath, date, location, memo, range) {
                this.filepath = filepath;
                this.date = date;
                this.location = location;
                this.memo = memo;
                this.range = range;
            }
        }

        class Location {
            constructor(road_address_name, address_name, place_name, x, y) {
                this.road_address_name = road_address_name;
                this.address_name = address_name;
                this.place_name = place_name;
                this.x = x;
                this.y = y;
            }
        }

        function placesSearchCB(data, status, pagination) {
            if (status === daum.maps.services.Status.OK) {
                app.locations = [];
                for (i = 0; i < data.length; i++) {
                    app.locations.push(new Location(
                        data[i].road_address_name,
                        data[i].address_name,
                        data[i].place_name,
                        data[i].x,
                        data[i].y,
                    ));
                }
            } else if (status === daum.maps.services.Status.ZERO_RESULT) {
                console.log("No Result");
            } else {
                console.log("Error");
            }
        }

        var app = new Vue({
            el: '#vueapp',
            data: {
                videos: [],
                locations: [],

                input_filepath: '',
                input_date: '',
                input_location: '',
                input_memo: '',
                input_range: '',
            },
            methods: {
                addVideo: function() {
                    this.videos.push(new Video(
                        this.input_filepath,
                        this.input_date,
                        this.input_location,
                        this.input_memo,
                        this.input_range,
                    ));
                    this.input_filepath = '';
                    this.input_date = '';
                    this.input_location = '';
                    this.input_memo = '';
                    this.input_range = '';
                },
            },
            watch: {
                input_location: function(newVal, oldVal) {
                    console.log(newVal);
                    ps.keywordSearch(newVal, placesSearchCB);
                },
            }
        });
    </script>
</body>
{% endblock %}